.filter {
  padding: 0 20px 20px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 20px;

  &__members {
    padding-top: 7px;
    font-weight: 400;
    color: #16c098;
    transition: color 0.3s ease;
  }

  &__invisible {
    color: transparent;
  }

  @media (min-width: 678px) {
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: 990px) {
    padding: 0 44px 20px 38px;
  }
}
